img{
    max-width: 80%;
}


.sidebar{
    position: fixed;
      background: rgb(247, 224, 224,0.025);
   /* background: rgb(252, 219, 189);
    /*background: rgb(253, 219, 212);*/
   /* background:  rgb(199, 241, 218);*/
    left: 0;
    top: 0;
    padding: 2.5rem;
    border-right: 1px solid rgba(0,0,0,0.05);
    min-height: 100vh;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

}

.nav_list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.nav_link{
    font-size: 1.2rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
}
.nav_link :hover{
     color: aquamarine
}
.copy{
    columns: hsl(24,15%,65%);
    font-size: var(--small-font-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}

.nav_toggle{
    position: fixed;
    top: 1.25rem;
    left: 1.875rem;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--body-color);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .4s;
} 

@media screen and (max-width:1024px) {
    .sidebar{
        left: -110px;
       
    }
    .nav_toggle{
        display: flex;
    }
    .nav_toggle-open{
        left: 140px;
    }
    .show{
        left: 0;
    }
    
}

@media screen and (max-width: 750px){
   .sidebar{
    border-right: 1px solid rgba(0,0,0,0.0001);
   }
   .copy{
    opacity: 0;
   }
}